*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: Open sans, sans-serif;
  background: linear-gradient(to right, #e0eafc, #cfdef3);
  padding: clamp(20px, 5vw, 50px) 20px 10px;
}

.check {
  width: 30px;
  height: 30px;
  border: solid black 3px;
  background-color: #2596be;
  position: relative;
}

.bigCheck {
  width:18px;
  height: 2px;
  background-color: white;
  margin-top: 12px;
  transform: rotate(-45deg);
  margin-left: 5px;
  position: absolute;
}

.littleCheck {
  width: 7px;
  height: 2px;
  background-color: white;
  margin-top: 17px ;
  transform: rotate(45deg);
  position: absolute;
  margin-left: 2px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-bottom: 50px;
}

h1 {
  font-weight: 400;
  font-family: 'Roboto';
}

.boldy {
  font-weight: 900;
}

.question {
  margin: auto;
  width: 50%;
  background-color: #f1f1f1;
  margin-top: 20px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 10px;
  padding: 20px 0 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h2 {
  margin-bottom: 20px;
  margin-left: 7px;
  font-family: 'Open sans';
  font-weight: 600;
  font-size: 16px;
}

.input {
  display: flex;
  gap: 10px;
  font-family: 'Open sans';
  font-size: 14px;
}

.valider {
  width: 15%;
  text-align: center;
  margin: auto;
  margin-top: 30px;
}

button {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 30px 10px 30px;
  background-color: white;
  border: none;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 10px;
  font-family: 'Roboto';
  font-weight: 500;
  gap: 5px;
  align-items: baseline;
}

.consignes {
  margin: auto;
  width: 50%;
  padding: 10px 30px 10px 30px;
  background-color: white;
  border: none;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 10px;
  font-family: 'Roboto';
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 50px;
text-align: center;}


@media (max-width: 768px) {
  .question  {
    width: 90%;
  }

  .valider {
    width: 50%;
  }
  .consignes {
    width: 90%;
  }
}

@media (max-width: 620px) {
  .title {
    flex-direction: column;
  }
  h1 {
    text-align: center;
  }
  .question {
    padding: 20px 10px 20px 20px;
  }
}